/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

* {
	font-family: Verdana,sans-serif;
	font-size: 12px;
	line-height:1.5em;
}
.error {
	border: 1px solid red;
}

input {
	border-radius: 8px;
	padding: 5px;
	padding-left:10px;
	padding-right:10px;
}

#handleSearch:hover {
	background-color: white;	
	color:#008CBA;
}

#handleSearch {
	background-color: #008CBA;
}

h1, #handleSearch {
	letter-spacing: 0.2em;
}

table {
	margin-top:30px;
	margin-bottom: 5px; 
	position: center;
	width: 99%;
}

tbody tr:nth-child(even) {
	background-color: #F8F8FF
}

thead tr {
	background-color: black !important;
}

tr, td, th {
	border: 1px solid #DCDCDC;
	padding: 10px;
}

th, h1, #handleSearch{
	color: white;
}

h1 {
	font-size:22px
}

div.main {
	padding-left:1em;
	margin-top:2em;
}

.spinner {
	position: relative;
}

.navbar-header {
	margin-top : -1em;
}

/*For mobile devices*/
@media only screen and (max-width: 600px) {
  #query, #handleSearch, table {
    width: 95%;
  }
  #handleSearch {
  	margin-top:1em;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
  	font-size:20px;
  }
}